<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>List All Customers</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout">
    <form th:action="@{/customers/create}" th:object="${customerForm}" method="post">
        <dl>
            <dt><label for="lastName">lastName</label></dt>
            <dd></dd>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}"
                       value="default last name" th:errorclass="error-input"/>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                    class="error-messages">Error!</span>
            <dt><label for="firstName">lastName</label></dt>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}"
                   value="default first name" th:errorclass="error-input"/>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                  class="error-messages">Error!</span>

            <dd></dd>
        </dl>
        <input type="submit" value="add" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"/>
    </form>

<H1>List all customers</H1>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--6dp">
    <tr>
        <th class="mdl-data-table__cell--non-numeric">ID</th>
        <th class="mdl-data-table__cell--non-numeric">lastName</th>
        <th class="mdl-data-table__cell--non-numeric">firstName</th>
        <th class="mdl-data-table__cell--non-numeric">Delete</th>
        <th class="mdl-data-table__cell--non-numeric">Modify</th>
    </tr>
    <tr th:each="c:${customers}">
        <td class="mdl-data-table__cell--non-numeric" th:text="${c.id}">default ID</td>
        <td class="mdl-data-table__cell--non-numeric" th:text="${c.lastName}">default lastName</td>
        <td class="mdl-data-table__cell--non-numeric" th:text="${c.firstName}">default firstName</td>
        <td class="mdl-data-table__cell--non-numeric">
            <form th:action="@{/customers/delete}" method="post">
                <input type="submit" value="delete" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                <input type="hidden", name="id" th:value="${c.id}">
            </form>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            <form th:action="@{/customers/edit}" method="get">
                <input type="submit" value="edit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                <input type="hidden", name="id" th:value="${c.id}">
            </form>
        </td>

    </tr>
</table>
</div>
</body>
</html>